html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}
.nav{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #979C9D;
}
li{
    font-weight: bold;
    padding: 5%;
    color: black;
    transition: color 0.5s;
}
a{
    display: block;
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}
li:hover{
    cursor: pointer;
    background-color: #CBCDCE;
}
a:active, li:active{
    color: yellow;
}
main{
    margin-left: 20%;
}
header{
    padding: 1%;
    line-height: 2rem;
    text-align: center;
}
.headings{
    padding: 1%;
    text-align: center;
    color: red;
    text-decoration: underline;
}
#aboutme p{
    padding: 1%;
}
#aboutme h3{
    padding: 1%;
    color: red;
}

#skills p,progress{
    margin: 10px;
}


.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.p{
    cursor: pointer;
    background-color: #222326;
    border-radius: 20%;
    margin: 30px;
    width: 300px;
    height: 300px;
}
.preview{
    transition: 0.5s;
}
.preview:hover{
    transform: scale(1.02);
}
.link{
    text-align: center;
    color: red;
}
.desc{
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    overflow: hidden;
}
#contact{
    text-align: center;
}
.social{
    padding: 1%;
}
.social a,p{
    padding: 1%;
}
.social p{
    text-decoration: underline;
    cursor: pointer;
}